{
  "openapi": "3.1.0",
  "info": {
    "title": "oncehub",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.oncehub.com/v2"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "API-Key"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/test": {
      "get": {
        "summary": "Validate API key",
        "description": "Enter your API key in the headers section below and click on \"Try it\" to test it.",
        "operationId": "validate-api-key",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"message\": \"The API key is valid for account: admin@example.com\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "The API key is valid for account: admin@example.com"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"authentication_error\",\n  \"message\": \"Invalid API key.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "authentication_error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid API key."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"authentication_error\",\n  \"message\": \"Your account plan does not support API access. To use the ScheduleOnce API, you must upgrade to the Enterprise plan.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "authentication_error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Your account plan does not support API access. To use the ScheduleOnce API, you must upgrade to the Enterprise plan."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/bookings": {
      "get": {
        "summary": "List all bookings",
        "description": "Returns a list all bookings in the account",
        "operationId": "list-all-bookings",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Only return bookings that have the given status.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner",
            "in": "query",
            "description": "Only return booking owned by a user with a specific user ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contact",
            "in": "query",
            "description": "Only return bookings that were scheduled with the contact with the provided ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "booking_page",
            "in": "query",
            "description": "Only return bookings that were created from the booking page with the provided ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "master_page",
            "in": "query",
            "description": "Only return bookings that were created from the master page with the provided ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "Only return bookings that were created using the event type with the provided ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creation_time.gt",
            "in": "query",
            "description": "Return bookings with creation time greater than the given date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "creation_time.lt",
            "in": "query",
            "description": "Return bookings with creation time less than the given date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "starting_time.gt",
            "in": "query",
            "description": "Return bookings with starting time greater than the given date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "starting_time.lt",
            "in": "query",
            "description": "Return bookings with starting time less than the given date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "last_updated_time.gt",
            "in": "query",
            "description": "Return bookings with last updated time greater than the given date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "last_updated_time.lt",
            "in": "query",
            "description": "Return bookings with last updated time less than the given date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "A comma separated list of fields that you want to [expand](https://developers.oncehub.com/v2.0.0/reference#expanding-responses). Possible values are `booking_page`, `master_page`, `event_type`, `owner`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 30 objects, starting with `OBJ-XXXX`, your subsequent call can include `before=OBJ-XXXX` in order to fetch the previous page of the list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 30 objects, ending with `OBJ-XXXX`, your subsequent call can include `after=OBJ-XXXX` in order to fetch the next page of the list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Determines the number of objects that will be returned on each page. Defaults to 10 if not specified and has a maximum limit of 100 objects per page.",
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "booking_calendar",
            "in": "query",
            "required": false,
            "description": "Only return bookings that were created from the booking calendar with the provided ID.",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "host",
            "in": "query",
            "required": false,
            "description": "Only return bookings hosted or co-hosted by a user with a specific user ID.",
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"object\": \"booking\",\n      \"id\": \"BKNG-J4FR05BKEWEX\",\n      \"tracking_id\": \"D36E0002\",\n      \"subject\": \"Live demo\",\n      \"status\": \"scheduled\",\n      \"creation_time\": \"2020-03-22T09:48:48Z\",\n      \"starting_time\": \"2020-03-22T04:30:00Z\",\n      \"customer_timezone\": \"America/New_York\",\n      \"last_updated_time\": \"2020-03-22T09:48:48Z\",\n      \"owner\": \"USR-FSD423423\",\n      \"duration_minutes\": 60,\n      \"virtual_conferencing\": {\n        \"join_url\": \"https://meet.google.com/izv-daci-fyi\"\n      },\n      \"location_description\": \"123 Office Street\",\n      \"rescheduled_booking_id\": \"BKNG-J4FR05BKEWEX\",\n      \"cancel_reschedule_information\": {\n        \"reason\": \"Change in schedule\",\n        \"actioned_by\": \"user\",\n        \"user_id\": \"USR-FSD423423\"\n      },\n      \"attendees\": [\"andrea.hartie@example.com\", \"carrie.customer@gmail.com\"],\n      \"form_submission\": {\n        \"name\": \"Carrie Customer\",\n        \"email\": \"carrie.customer@gmail.com\",\n        \"phone\": null,\n        \"mobile_phone\": \"1-2025550195\",\n        \"note\": \"I want to discuss whether your product can work for our office.\",\n        \"company\": null,\n        \"guests\": [],\n        \"custom_fields\": [\n          { \"name\": \"Title\", \"value\": \"Executive Assistant\" },\n          { \"name\": \"Office size\", \"value\": \"30-50 people\" },\n          { \"name\": \"Industry\", \"value\": \"Lawnscaping services\" }\n        ]\n      },\n      \"booking_page\": \"BP-X0LCRU5LES\",\n      \"master_page\": \"MP-ZID28U5946\",\n      \"event_type\": \"ET-7NC41GHIDZ\",\n      \"external_calendar\": {\n        \"type\": \"google\",\n        \"name\": \"andrea.hartie@example.com\",\n        \"id\": \"andrea.hartie@example.com\",\n        \"event_id\": \"8kvu74dda8kcv0gmmlm3folrhc\"\n      },\n      \"utm_params\": {\n        \"source\": \"facebook\",\n        \"medium\": \"social\",\n        \"campaign\": null,\n        \"term\": null,\n        \"content\": null\n      },\n      \"contact\": \"CTC-262WER5NR9CG38\",\n      \"booking_calendar\": \"BKC-03WJV0R52Z\",\n      \"cancel_url\": \"https://oncehub.com/m/BKNG-3KM0HY2BF9SL/cancel\",\n      \"reschedule_url\": \"https://oncehub.com/m/BKNG-3KM0HY2BF9SL\",\n\t\t\t\"custom_fields\": [\n        {\n          \"name\": \"discussion_points\",\n          \"value\": \"Need support on new product\"\n        },\n        {\n          \"name\": \"meeting_reason\",\n          \"value\": \"Product demo\"\n        }\n      ]\n    },\n    {...},\n    {...}\n  ]\n}\n"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"invalid_request_error\",\n  \"message\": \"last_updated_time.gt cannot be later than last_updated_time.lt\",\n  \"param\": \"last_updated_time.gt\"\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "invalid_request_error"
                    },
                    "message": {
                      "type": "string",
                      "example": "creation_time.gt cannot be later than creation_time.lt"
                    },
                    "param": {
                      "type": "string",
                      "example": "creation_time.gt"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/bookings/{id}": {
      "get": {
        "summary": "Get a single booking",
        "description": "Returns a single booking by ID",
        "operationId": "get-a-single-booking",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the booking",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "object": "booking",
                      "id": "BKNG-J4FR05BKEWEX",
                      "tracking_id": "D36E0002",
                      "subject": "Live demo",
                      "status": "scheduled",
                      "creation_time": "2020-03-22T09:48:48Z",
                      "starting_time": "2020-03-22T04:30:00Z",
                      "customer_timezone": "America/New_York",
                      "last_updated_time": "2020-03-22T09:48:48Z",
                      "owner": "USR-FSD423423",
                      "duration_minutes": 60,
                      "virtual_conferencing": {
                        "join_url": "https://meet.google.com/izv-daci-fyi"
                      },
                      "location_description": "123 Office Street",
                      "rescheduled_booking_id": "BKNG-J4FR05BKEWEX",
                      "cancel_reschedule_information": {
                        "reason": "Change in schedule",
                        "actioned_by": "user",
                        "user_id": "USR-FSD423423"
                      },
                      "attendees": [
                        "andrea.hartie@example.com",
                        "carrie.customer@gmail.com"
                      ],
                      "form_submission": {
                        "name": "Carrie Customer",
                        "email": "carrie.customer@gmail.com",
                        "phone": null,
                        "mobile_phone": "1-2025550195",
                        "note": "I want to discuss whether your product can work for our office.",
                        "company": null,
                        "guests": [],
                        "custom_fields": [
                          {
                            "name": "Title",
                            "value": "Executive Assistant"
                          },
                          {
                            "name": "Office size",
                            "value": "30-50 people"
                          },
                          {
                            "name": "Industry",
                            "value": "Lawnscaping services"
                          }
                        ]
                      },
                      "booking_page": "BP-X0LCRU5LES",
                      "master_page": "MP-ZID28U5946",
                      "event_type": "ET-7NC41GHIDZ",
                      "external_calendar": {
                        "type": "google",
                        "name": "andrea.hartie@example.com",
                        "id": "andrea.hartie@example.com",
                        "event_id": "8kvu74dda8kcv0gmmlm3folrhc"
                      },
                      "utm_params": {
                        "source": "facebook",
                        "medium": "social",
                        "campaign": null,
                        "term": null,
                        "content": null
                      },
                      "contact": "CTC-262WER5NR9CG38",
                      "booking_calendar": "BKC-03WJV0R52Z",
                      "cancel_url": "https://oncehub.com/m/BKNG-3KM0HY2BF9SL/cancel",
                      "reschedule_url": "https://oncehub.com/m/BKNG-3KM0HY2BF9SL",
                      "custom_fields": [
                        {
                          "name": "discussion_points",
                          "value": "Need support on new product"
                        },
                        {
                          "name": "meeting_reason",
                          "value": "Product demo"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "booking"
                    },
                    "id": {
                      "type": "string",
                      "example": "BKNG-J4FR05BKEWEX"
                    },
                    "tracking_id": {
                      "type": "string",
                      "example": "D36E0002"
                    },
                    "subject": {
                      "type": "string",
                      "example": "Live demo"
                    },
                    "status": {
                      "type": "string",
                      "example": "scheduled"
                    },
                    "creation_time": {
                      "type": "string",
                      "example": "2020-03-22T09:48:48Z"
                    },
                    "starting_time": {
                      "type": "string",
                      "example": "2020-03-22T04:30:00Z"
                    },
                    "customer_timezone": {
                      "type": "string",
                      "example": "America/New_York"
                    },
                    "last_updated_time": {
                      "type": "string",
                      "example": "2020-03-22T09:48:48Z"
                    },
                    "owner": {
                      "type": "string",
                      "example": "USR-FSD423423"
                    },
                    "duration_minutes": {
                      "type": "integer",
                      "example": 60,
                      "default": 0
                    },
                    "virtual_conferencing": {
                      "type": "object",
                      "properties": {
                        "join_url": {
                          "type": "string",
                          "example": "https://meet.google.com/izv-daci-fyi"
                        }
                      }
                    },
                    "location_description": {
                      "type": "string",
                      "example": "123 Office Street"
                    },
                    "rescheduled_booking_id": {
                      "type": "string",
                      "example": "BKNG-J4FR05BKEWEX"
                    },
                    "cancel_reschedule_information": {
                      "type": "object",
                      "properties": {
                        "reason": {
                          "type": "string",
                          "example": "Change in schedule"
                        },
                        "actioned_by": {
                          "type": "string",
                          "example": "user"
                        },
                        "user_id": {
                          "type": "string",
                          "example": "USR-FSD423423"
                        }
                      }
                    },
                    "attendees": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "andrea.hartie@example.com"
                      }
                    },
                    "form_submission": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "Carrie Customer"
                        },
                        "email": {
                          "type": "string",
                          "example": "carrie.customer@gmail.com"
                        },
                        "phone": {},
                        "mobile_phone": {
                          "type": "string",
                          "example": "1-2025550195"
                        },
                        "note": {
                          "type": "string",
                          "example": "I want to discuss whether your product can work for our office."
                        },
                        "company": {},
                        "guests": {
                          "type": "array"
                        },
                        "custom_fields": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "example": "Title"
                              },
                              "value": {
                                "type": "string",
                                "example": "Executive Assistant"
                              }
                            }
                          }
                        }
                      }
                    },
                    "booking_page": {
                      "type": "string",
                      "example": "BP-X0LCRU5LES"
                    },
                    "master_page": {
                      "type": "string",
                      "example": "MP-ZID28U5946"
                    },
                    "event_type": {
                      "type": "string",
                      "example": "ET-7NC41GHIDZ"
                    },
                    "external_calendar": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "google"
                        },
                        "name": {
                          "type": "string",
                          "example": "andrea.hartie@example.com"
                        },
                        "id": {
                          "type": "string",
                          "example": "andrea.hartie@example.com"
                        },
                        "event_id": {
                          "type": "string",
                          "example": "8kvu74dda8kcv0gmmlm3folrhc"
                        }
                      }
                    },
                    "utm_params": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "string",
                          "example": "facebook"
                        },
                        "medium": {
                          "type": "string",
                          "example": "social"
                        },
                        "campaign": {},
                        "term": {},
                        "content": {}
                      }
                    },
                    "contact": {
                      "type": "string",
                      "example": "CTC-262WER5NR9CG38"
                    },
                    "booking_calendar": {
                      "type": "string",
                      "example": "BKC-03WJV0R52Z"
                    },
                    "cancel_url": {
                      "type": "string",
                      "example": "https://oncehub.com/m/BKNG-3KM0HY2BF9SL/cancel"
                    },
                    "reschedule_url": {
                      "type": "string",
                      "example": "https://oncehub.com/m/BKNG-3KM0HY2BF9SL"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"invalid_request_error\",\n  \"message\": \"No such booking: '123'\",\n  \"param\": \"id\"\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "invalid_request_error"
                    },
                    "message": {
                      "type": "string",
                      "example": "No such booking: '123'"
                    },
                    "param": {
                      "type": "string",
                      "example": "id"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/bookings/{id}/cancel": {
      "post": {
        "summary": "Cancel a booking",
        "description": "Cancel a booking by ID",
        "operationId": "cancel-booking",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the booking",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cancellation_reason": {
                    "type": "string",
                    "description": "Reason for cancelling the meeting (optional)"
                  },
                  "send_cancellation_email": {
                    "type": "boolean",
                    "description": "Whether a cancellation email should be sent",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "object": "booking",
                      "id": "BKNG-J4FR05BKEWEX",
                      "tracking_id": "D36E0002",
                      "subject": "Live demo",
                      "status": "canceled",
                      "creation_time": "2020-03-22T09:48:48Z",
                      "starting_time": "2020-03-22T04:30:00Z",
                      "customer_timezone": "America/New_York",
                      "last_updated_time": "2020-03-22T09:48:48Z",
                      "owner": "USR-FSD423423",
                      "duration_minutes": 60,
                      "virtual_conferencing": {
                        "join_url": "https://meet.google.com/izv-daci-fyi"
                      },
                      "location_description": "123 Office Street",
                      "rescheduled_booking_id": "BKNG-J4FR05BKEWEX",
                      "cancel_reschedule_information": {
                        "reason": "Change in schedule",
                        "actioned_by": "user",
                        "user_id": "USR-FSD423423"
                      },
                      "attendees": [
                        "andrea.hartie@example.com",
                        "carrie.customer@gmail.com"
                      ],
                      "form_submission": {
                        "name": "Carrie Customer",
                        "email": "carrie.customer@gmail.com",
                        "phone": null,
                        "mobile_phone": "1-2025550195",
                        "note": "I want to discuss whether your product can work for our office.",
                        "company": null,
                        "guests": [],
                        "custom_fields": [
                          {
                            "name": "Title",
                            "value": "Executive Assistant"
                          },
                          {
                            "name": "Office size",
                            "value": "30-50 people"
                          },
                          {
                            "name": "Industry",
                            "value": "Lawnscaping services"
                          }
                        ]
                      },
                      "booking_page": "BP-X0LCRU5LES",
                      "master_page": "MP-ZID28U5946",
                      "event_type": "ET-7NC41GHIDZ",
                      "external_calendar": {
                        "type": "google",
                        "name": "andrea.hartie@example.com",
                        "id": "andrea.hartie@example.com",
                        "event_id": "8kvu74dda8kcv0gmmlm3folrhc"
                      },
                      "utm_params": {
                        "source": "facebook",
                        "medium": "social",
                        "campaign": null,
                        "term": null,
                        "content": null
                      },
                      "contact": "CTC-262WER5NR9CG38",
                      "booking_calendar": "BKC-03WJV0R52Z",
                      "cancel_url": "https://oncehub.com/m/BKNG-3KM0HY2BF9SL/cancel",
                      "reschedule_url": "https://oncehub.com/m/BKNG-3KM0HY2BF9SL",
                      "custom_fields": [
                        {
                          "name": "discussion_points",
                          "value": "Need support on new product"
                        },
                        {
                          "name": "meeting_reason",
                          "value": "Product demo"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "booking"
                    },
                    "id": {
                      "type": "string",
                      "example": "BKNG-J4FR05BKEWEX"
                    },
                    "tracking_id": {
                      "type": "string",
                      "example": "D36E0002"
                    },
                    "subject": {
                      "type": "string",
                      "example": "Live demo"
                    },
                    "status": {
                      "type": "string",
                      "example": "canceled"
                    },
                    "creation_time": {
                      "type": "string",
                      "example": "2020-03-22T09:48:48Z"
                    },
                    "starting_time": {
                      "type": "string",
                      "example": "2020-03-22T04:30:00Z"
                    },
                    "customer_timezone": {
                      "type": "string",
                      "example": "America/New_York"
                    },
                    "last_updated_time": {
                      "type": "string",
                      "example": "2020-03-22T09:48:48Z"
                    },
                    "owner": {
                      "type": "string",
                      "example": "USR-FSD423423"
                    },
                    "duration_minutes": {
                      "type": "integer",
                      "example": 60,
                      "default": 0
                    },
                    "virtual_conferencing": {
                      "type": "object",
                      "properties": {
                        "join_url": {
                          "type": "string",
                          "example": "https://meet.google.com/izv-daci-fyi"
                        }
                      }
                    },
                    "location_description": {
                      "type": "string",
                      "example": "123 Office Street"
                    },
                    "rescheduled_booking_id": {
                      "type": "string",
                      "example": "BKNG-J4FR05BKEWEX"
                    },
                    "cancel_reschedule_information": {
                      "type": "object",
                      "properties": {
                        "reason": {
                          "type": "string",
                          "example": "Change in schedule"
                        },
                        "actioned_by": {
                          "type": "string",
                          "example": "user"
                        },
                        "user_id": {
                          "type": "string",
                          "example": "USR-FSD423423"
                        }
                      }
                    },
                    "attendees": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "andrea.hartie@example.com"
                      }
                    },
                    "form_submission": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "Carrie Customer"
                        },
                        "email": {
                          "type": "string",
                          "example": "carrie.customer@gmail.com"
                        },
                        "phone": {},
                        "mobile_phone": {
                          "type": "string",
                          "example": "1-2025550195"
                        },
                        "note": {
                          "type": "string",
                          "example": "I want to discuss whether your product can work for our office."
                        },
                        "company": {},
                        "guests": {
                          "type": "array"
                        },
                        "custom_fields": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "example": "Title"
                              },
                              "value": {
                                "type": "string",
                                "example": "Executive Assistant"
                              }
                            }
                          }
                        }
                      }
                    },
                    "booking_page": {
                      "type": "string",
                      "example": "BP-X0LCRU5LES"
                    },
                    "master_page": {
                      "type": "string",
                      "example": "MP-ZID28U5946"
                    },
                    "event_type": {
                      "type": "string",
                      "example": "ET-7NC41GHIDZ"
                    },
                    "external_calendar": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "google"
                        },
                        "name": {
                          "type": "string",
                          "example": "andrea.hartie@example.com"
                        },
                        "id": {
                          "type": "string",
                          "example": "andrea.hartie@example.com"
                        },
                        "event_id": {
                          "type": "string",
                          "example": "8kvu74dda8kcv0gmmlm3folrhc"
                        }
                      }
                    },
                    "utm_params": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "string",
                          "example": "facebook"
                        },
                        "medium": {
                          "type": "string",
                          "example": "social"
                        },
                        "campaign": {},
                        "term": {},
                        "content": {}
                      }
                    },
                    "contact": {
                      "type": "string",
                      "example": "CTC-262WER5NR9CG38"
                    },
                    "booking_calendar": {
                      "type": "string",
                      "example": "BKC-03WJV0R52Z"
                    },
                    "cancel_url": {
                      "type": "string",
                      "example": "https://oncehub.com/m/BKNG-3KM0HY2BF9SL/cancel"
                    },
                    "reschedule_url": {
                      "type": "string",
                      "example": "https://oncehub.com/m/BKNG-3KM0HY2BF9SL"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"invalid_request_error\",\n  \"message\": \"No such booking: '123'\",\n  \"param\": \"id\"\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "invalid_request_error"
                    },
                    "message": {
                      "type": "string",
                      "example": "No such booking: '123'"
                    },
                    "param": {
                      "type": "string",
                      "example": "id"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"invalid_request_error\",\n  \"message\": \"Booking cannot be cancelled: '123'\",\n  \"params\": \"id\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "invalid_request_error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Booking cannot be cancelled: '123'"
                    },
                    "params": {
                      "type": "string",
                      "example": "id"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"invalid_request_error\",\n  \"message\": \"Paid bookings cannot be canceled through this endpoint. Please login to OnceHub and use the Activity Stream to cancel paid bookings.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "invalid_request_error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Paid bookings cannot be canceled through this endpoint. Please login to OnceHub and use the Activity Stream to cancel paid bookings."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/bookings/{id}/request-reschedule": {
      "post": {
        "summary": "Request a reschedule",
        "description": "Request to reschedule a booking by ID",
        "operationId": "request-reschedule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the booking",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reschedule_reason": {
                    "type": "string",
                    "description": "Reason for requesting the customer to reschedule the meeting (optional)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "object": "booking",
                      "id": "BKNG-J4FR05BKEWEX",
                      "tracking_id": "D36E0002",
                      "subject": "Live demo",
                      "status": "canceled",
                      "creation_time": "2020-03-22T09:48:48Z",
                      "starting_time": "2020-03-22T04:30:00Z",
                      "customer_timezone": "America/New_York",
                      "last_updated_time": "2020-03-22T09:48:48Z",
                      "owner": "USR-FSD423423",
                      "duration_minutes": 60,
                      "virtual_conferencing": {
                        "join_url": "https://meet.google.com/izv-daci-fyi"
                      },
                      "location_description": "123 Office Street",
                      "rescheduled_booking_id": "BKNG-J4FR05BKEWEX",
                      "cancel_reschedule_information": {
                        "reason": "Change in schedule",
                        "actioned_by": "user",
                        "user_id": "USR-FSD423423"
                      },
                      "attendees": [
                        "andrea.hartie@example.com",
                        "carrie.customer@gmail.com"
                      ],
                      "form_submission": {
                        "name": "Carrie Customer",
                        "email": "carrie.customer@gmail.com",
                        "phone": null,
                        "mobile_phone": "1-2025550195",
                        "note": "I want to discuss whether your product can work for our office.",
                        "company": null,
                        "guests": [],
                        "custom_fields": [
                          {
                            "name": "Title",
                            "value": "Executive Assistant"
                          },
                          {
                            "name": "Office size",
                            "value": "30-50 people"
                          },
                          {
                            "name": "Industry",
                            "value": "Lawnscaping services"
                          }
                        ]
                      },
                      "booking_page": "BP-X0LCRU5LES",
                      "master_page": "MP-ZID28U5946",
                      "event_type": "ET-7NC41GHIDZ",
                      "external_calendar": {
                        "type": "google",
                        "name": "andrea.hartie@example.com",
                        "id": "andrea.hartie@example.com",
                        "event_id": "8kvu74dda8kcv0gmmlm3folrhc"
                      },
                      "utm_params": {
                        "source": "facebook",
                        "medium": "social",
                        "campaign": null,
                        "term": null,
                        "content": null
                      },
                      "contact": "CTC-262WER5NR9CG38",
                      "booking_calendar": "BKC-03WJV0R52Z",
                      "cancel_url": "https://oncehub.com/m/BKNG-3KM0HY2BF9SL/cancel",
                      "reschedule_url": "https://oncehub.com/m/BKNG-3KM0HY2BF9SL",
                      "custom_fields": [
                        {
                          "name": "discussion_points",
                          "value": "Need support on new product"
                        },
                        {
                          "name": "meeting_reason",
                          "value": "Product demo"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "booking"
                    },
                    "id": {
                      "type": "string",
                      "example": "BKNG-J4FR05BKEWEX"
                    },
                    "tracking_id": {
                      "type": "string",
                      "example": "D36E0002"
                    },
                    "subject": {
                      "type": "string",
                      "example": "Live demo"
                    },
                    "status": {
                      "type": "string",
                      "example": "canceled"
                    },
                    "creation_time": {
                      "type": "string",
                      "example": "2020-03-22T09:48:48Z"
                    },
                    "starting_time": {
                      "type": "string",
                      "example": "2020-03-22T04:30:00Z"
                    },
                    "customer_timezone": {
                      "type": "string",
                      "example": "America/New_York"
                    },
                    "last_updated_time": {
                      "type": "string",
                      "example": "2020-03-22T09:48:48Z"
                    },
                    "owner": {
                      "type": "string",
                      "example": "USR-FSD423423"
                    },
                    "duration_minutes": {
                      "type": "integer",
                      "example": 60,
                      "default": 0
                    },
                    "virtual_conferencing": {
                      "type": "object",
                      "properties": {
                        "join_url": {
                          "type": "string",
                          "example": "https://meet.google.com/izv-daci-fyi"
                        }
                      }
                    },
                    "location_description": {
                      "type": "string",
                      "example": "123 Office Street"
                    },
                    "rescheduled_booking_id": {
                      "type": "string",
                      "example": "BKNG-J4FR05BKEWEX"
                    },
                    "cancel_reschedule_information": {
                      "type": "object",
                      "properties": {
                        "reason": {
                          "type": "string",
                          "example": "Change in schedule"
                        },
                        "actioned_by": {
                          "type": "string",
                          "example": "user"
                        },
                        "user_id": {
                          "type": "string",
                          "example": "USR-FSD423423"
                        }
                      }
                    },
                    "attendees": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "andrea.hartie@example.com"
                      }
                    },
                    "form_submission": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "Carrie Customer"
                        },
                        "email": {
                          "type": "string",
                          "example": "carrie.customer@gmail.com"
                        },
                        "phone": {},
                        "mobile_phone": {
                          "type": "string",
                          "example": "1-2025550195"
                        },
                        "note": {
                          "type": "string",
                          "example": "I want to discuss whether your product can work for our office."
                        },
                        "company": {},
                        "guests": {
                          "type": "array"
                        },
                        "custom_fields": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "example": "Title"
                              },
                              "value": {
                                "type": "string",
                                "example": "Executive Assistant"
                              }
                            }
                          }
                        }
                      }
                    },
                    "booking_page": {
                      "type": "string",
                      "example": "BP-X0LCRU5LES"
                    },
                    "master_page": {
                      "type": "string",
                      "example": "MP-ZID28U5946"
                    },
                    "event_type": {
                      "type": "string",
                      "example": "ET-7NC41GHIDZ"
                    },
                    "external_calendar": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "google"
                        },
                        "name": {
                          "type": "string",
                          "example": "andrea.hartie@example.com"
                        },
                        "id": {
                          "type": "string",
                          "example": "andrea.hartie@example.com"
                        },
                        "event_id": {
                          "type": "string",
                          "example": "8kvu74dda8kcv0gmmlm3folrhc"
                        }
                      }
                    },
                    "utm_params": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "string",
                          "example": "facebook"
                        },
                        "medium": {
                          "type": "string",
                          "example": "social"
                        },
                        "campaign": {},
                        "term": {},
                        "content": {}
                      }
                    },
                    "contact": {
                      "type": "string",
                      "example": "CTC-262WER5NR9CG38"
                    },
                    "booking_calendar": {
                      "type": "string",
                      "example": "BKC-03WJV0R52Z"
                    },
                    "cancel_url": {
                      "type": "string",
                      "example": "https://oncehub.com/m/BKNG-3KM0HY2BF9SL/cancel"
                    },
                    "reschedule_url": {
                      "type": "string",
                      "example": "https://oncehub.com/m/BKNG-3KM0HY2BF9SL"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"invalid_request_error\",\n  \"message\": \"No such booking: '123'\",\n  \"param\": \"id\"\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "invalid_request_error"
                    },
                    "message": {
                      "type": "string",
                      "example": "No such booking: '123'"
                    },
                    "param": {
                      "type": "string",
                      "example": "id"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"invalid_request_error\",\n  \"message\": \"Booking cannot be cancelled: '123'\",\n  \"params\": \"id\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "invalid_request_error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Booking cannot be cancelled: '123'"
                    },
                    "params": {
                      "type": "string",
                      "example": "id"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"invalid_request_error\",\n  \"message\": \"Paid bookings can only be requested for reschedule in your OnceHub account. Log in and use the activity stream to submit a reschedule request for this booking.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "invalid_request_error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Paid bookings can only be requested for reschedule in your OnceHub account. Log in and use the activity stream to submit a reschedule request for this booking."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/bookings/{id}/no-show": {
      "post": {
        "summary": "Set a booking as no-show",
        "description": "Update the booking status to no-show by ID",
        "operationId": "no-show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the booking",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "object": "booking",
                      "id": "BKNG-J4FR05BKEWEX",
                      "tracking_id": "D36E0002",
                      "subject": "Live demo",
                      "status": "no_show",
                      "creation_time": "2020-03-22T09:48:48Z",
                      "starting_time": "2020-03-22T04:30:00Z",
                      "customer_timezone": "America/New_York",
                      "last_updated_time": "2020-03-22T09:48:48Z",
                      "owner": "USR-FSD423423",
                      "duration_minutes": 60,
                      "virtual_conferencing": {
                        "join_url": "https://meet.google.com/izv-daci-fyi"
                      },
                      "location_description": "123 Office Street",
                      "rescheduled_booking_id": "BKNG-J4FR05BKEWEX",
                      "cancel_reschedule_information": {
                        "reason": "Change in schedule",
                        "actioned_by": "user",
                        "user_id": "USR-FSD423423"
                      },
                      "attendees": [
                        "andrea.hartie@example.com",
                        "carrie.customer@gmail.com"
                      ],
                      "form_submission": {
                        "name": "Carrie Customer",
                        "email": "carrie.customer@gmail.com",
                        "phone": null,
                        "mobile_phone": "1-2025550195",
                        "note": "I want to discuss whether your product can work for our office.",
                        "company": null,
                        "guests": [],
                        "custom_fields": [
                          {
                            "name": "Title",
                            "value": "Executive Assistant"
                          },
                          {
                            "name": "Office size",
                            "value": "30-50 people"
                          },
                          {
                            "name": "Industry",
                            "value": "Lawnscaping services"
                          }
                        ]
                      },
                      "booking_page": "BP-X0LCRU5LES",
                      "master_page": "MP-ZID28U5946",
                      "event_type": "ET-7NC41GHIDZ",
                      "external_calendar": {
                        "type": "google",
                        "name": "andrea.hartie@example.com",
                        "id": "andrea.hartie@example.com",
                        "event_id": "8kvu74dda8kcv0gmmlm3folrhc"
                      },
                      "utm_params": {
                        "source": "facebook",
                        "medium": "social",
                        "campaign": null,
                        "term": null,
                        "content": null
                      },
                      "contact": "CTC-262WER5NR9CG38",
                      "booking_calendar": "BKC-03WJV0R52Z",
                      "cancel_url": "https://oncehub.com/m/BKNG-3KM0HY2BF9SL/cancel",
                      "reschedule_url": "https://oncehub.com/m/BKNG-3KM0HY2BF9SL",
                      "custom_fields": [
                        {
                          "name": "discussion_points",
                          "value": "Need support on new product"
                        },
                        {
                          "name": "meeting_reason",
                          "value": "Product demo"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "booking"
                    },
                    "id": {
                      "type": "string",
                      "example": "BKNG-J4FR05BKEWEX"
                    },
                    "tracking_id": {
                      "type": "string",
                      "example": "D36E0002"
                    },
                    "subject": {
                      "type": "string",
                      "example": "Live demo"
                    },
                    "status": {
                      "type": "string",
                      "example": "no_show"
                    },
                    "creation_time": {
                      "type": "string",
                      "example": "2020-03-22T09:48:48Z"
                    },
                    "starting_time": {
                      "type": "string",
                      "example": "2020-03-22T04:30:00Z"
                    },
                    "customer_timezone": {
                      "type": "string",
                      "example": "America/New_York"
                    },
                    "last_updated_time": {
                      "type": "string",
                      "example": "2020-03-22T09:48:48Z"
                    },
                    "owner": {
                      "type": "string",
                      "example": "USR-FSD423423"
                    },
                    "duration_minutes": {
                      "type": "integer",
                      "example": 60,
                      "default": 0
                    },
                    "virtual_conferencing": {
                      "type": "object",
                      "properties": {
                        "join_url": {
                          "type": "string",
                          "example": "https://meet.google.com/izv-daci-fyi"
                        }
                      }
                    },
                    "location_description": {
                      "type": "string",
                      "example": "123 Office Street"
                    },
                    "rescheduled_booking_id": {
                      "type": "string",
                      "example": "BKNG-J4FR05BKEWEX"
                    },
                    "cancel_reschedule_information": {
                      "type": "object",
                      "properties": {
                        "reason": {
                          "type": "string",
                          "example": "Change in schedule"
                        },
                        "actioned_by": {
                          "type": "string",
                          "example": "user"
                        },
                        "user_id": {
                          "type": "string",
                          "example": "USR-FSD423423"
                        }
                      }
                    },
                    "attendees": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "andrea.hartie@example.com"
                      }
                    },
                    "form_submission": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "Carrie Customer"
                        },
                        "email": {
                          "type": "string",
                          "example": "carrie.customer@gmail.com"
                        },
                        "phone": {},
                        "mobile_phone": {
                          "type": "string",
                          "example": "1-2025550195"
                        },
                        "note": {
                          "type": "string",
                          "example": "I want to discuss whether your product can work for our office."
                        },
                        "company": {},
                        "guests": {
                          "type": "array"
                        },
                        "custom_fields": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "example": "Title"
                              },
                              "value": {
                                "type": "string",
                                "example": "Executive Assistant"
                              }
                            }
                          }
                        }
                      }
                    },
                    "booking_page": {
                      "type": "string",
                      "example": "BP-X0LCRU5LES"
                    },
                    "master_page": {
                      "type": "string",
                      "example": "MP-ZID28U5946"
                    },
                    "event_type": {
                      "type": "string",
                      "example": "ET-7NC41GHIDZ"
                    },
                    "external_calendar": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "google"
                        },
                        "name": {
                          "type": "string",
                          "example": "andrea.hartie@example.com"
                        },
                        "id": {
                          "type": "string",
                          "example": "andrea.hartie@example.com"
                        },
                        "event_id": {
                          "type": "string",
                          "example": "8kvu74dda8kcv0gmmlm3folrhc"
                        }
                      }
                    },
                    "utm_params": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "string",
                          "example": "facebook"
                        },
                        "medium": {
                          "type": "string",
                          "example": "social"
                        },
                        "campaign": {},
                        "term": {},
                        "content": {}
                      }
                    },
                    "contact": {
                      "type": "string",
                      "example": "CTC-262WER5NR9CG38"
                    },
                    "booking_calendar": {
                      "type": "string",
                      "example": "BKC-03WJV0R52Z"
                    },
                    "cancel_url": {
                      "type": "string",
                      "example": "https://oncehub.com/m/BKNG-3KM0HY2BF9SL/cancel"
                    },
                    "reschedule_url": {
                      "type": "string",
                      "example": "https://oncehub.com/m/BKNG-3KM0HY2BF9SL"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"invalid_request_error\",\n  \"message\": \"No such booking: '123'\",\n  \"param\": \"id\"\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "invalid_request_error"
                    },
                    "message": {
                      "type": "string",
                      "example": "No such booking: '123'"
                    },
                    "param": {
                      "type": "string",
                      "example": "id"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"invalid_request_error\",\n  \"message\": \"Cannot update booking status to no_show: '123'\",\n  \"param\": \"id\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "invalid_request_error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Cannot update booking status to no_show: '123'"
                    },
                    "param": {
                      "type": "string",
                      "example": "id"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/booking-calendars": {
      "get": {
        "summary": "List all booking calendars",
        "description": "Returns a list of all booking calendars in your account",
        "operationId": "list-all-booking-calendars",
        "parameters": [
          {
            "name": "host",
            "in": "query",
            "description": "Filter booking calendars hosted by this user ID or team ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 30 objects, starting with `OBJ-XXXX`, your subsequent call can include `before=OBJ-XXXX` in order to fetch the previous page of the list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 30 objects, ending with `OBJ-XXXX`, your subsequent call can include `after=OBJ-XXXX` in order to fetch the next page of the list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Determines the number of objects that will be returned on each page. Defaults to 10 if not specified and has a maximum limit of 100 objects per page.",
            "schema": {
              "type": "string",
              "default": "10"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"object\": \"booking_calendar\",\n      \"id\": \"BKC-LDJ878496X\",\n      \"subject\": \"Meeting with Gilad Goraly\",\n      \"host\": \"USR-HYPGJXN3A8\",\n      \"url\": \"https://oncehub.com/gilad15\",\n      \"name\": \"Gilad Goraly booking calendar\",\n      \"published\": true,\n      \"duration_minutes\": 30\n    }\n    {...},\n    {...}\n  ]\n}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/booking-calendars/{id}": {
      "get": {
        "summary": "Get a single booking calendar",
        "description": "Returns a single booking calendar by ID",
        "operationId": "get-a-single-booking-calendar",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the booking calendar",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"object\": \"booking_calendar\",\n  \"id\": \"BKC-LDJ878496X\",\n  \"subject\": \"Meeting with Gilad Goraly\",\n  \"host\": \"USR-HYPGJXN3A8\",\n  \"url\": \"https://oncehub.com/gilad15\",\n  \"name\": \"Gilad Goraly booking calendar\",\n  \"published\": true,\n  \"duration_minutes\": 30\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "booking_calendar"
                    },
                    "id": {
                      "type": "string",
                      "example": "BKC-LDJ878496X"
                    },
                    "subject": {
                      "type": "string",
                      "example": "Meeting with Gilad Goraly"
                    },
                    "host": {
                      "type": "string",
                      "example": "USR-HYPGJXN3A8"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://oncehub.com/gilad15"
                    },
                    "name": {
                      "type": "string",
                      "example": "Gilad Goraly booking calendar"
                    },
                    "published": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "duration_minutes": {
                      "type": "integer",
                      "example": 30,
                      "default": 0
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"invalid_request_error\",\n  \"message\": \"No such booking page: '123'\",\n  \"param\": \"id\"\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "invalid_request_error"
                    },
                    "message": {
                      "type": "string",
                      "example": "No such booking page: '123'"
                    },
                    "param": {
                      "type": "string",
                      "example": "id"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/booking-calendars/{id}/time-slots": {
      "get": {
        "summary": "Get available time slots for a booking calendar",
        "description": "Returns a list of available time slots for a booking calendar",
        "operationId": "get-available-time-slots-for-booking-calendar",
        "parameters": [
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "description": "The date and time from which to begin checking for available slots. If not provided, the system defaults to current time.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": ""
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "description": "The date and time up to which to check for available slots. If not provided, the system defaults to one week from `start_time`.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": ""
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the booking calendar",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n  {\n    \"start_time\": \"2024-12-02T06:30:00.000Z\",\n    \"locations\": [\n      {\n        \"type\": \"virtual\",\n        \"value\": \"google_meet\",\n        \"id\": null\n      },\n      {\n        \"type\": \"guest_phone\",\n        \"value\": \"+12025550195\",\n        \"id\": null\n      }\n    ]\n  },\n  {\n    \"start_time\": \"2024-12-05T14:30:00.000Z\",\n    \"locations\": [\n      {\n        \"type\": \"physical\",\n        \"value\": null,\n        \"id\": \"ADD-17SE9FWWOC\"\n      }\n    ]\n  },\n  // ...\n]\n"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"invalid_request_error\",\n  \"message\": \"End time must be after the start time.\",\n  \"param\": \"end_time\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "invalid_request_error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Start time cannot be in the past."
                    },
                    "param": {
                      "type": "string",
                      "example": "start_time"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "402",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"invalid_request_error\",\n  \"message\": \"Time slots cannot be retrieved when the host doesn't have a seat assigned.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "invalid_request_error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Time slots cannot be retrieved when the host doesn't have a seat assigned."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"invalid_request_error\",\n  \"message\": \"Time slots cannot be retrieved from an unpublished booking calendar.\",\n  \"param\": \"id\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "invalid_request_error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Time slots cannot be retrieved from an unpublished booking calendar."
                    },
                    "param": {
                      "type": "string",
                      "example": "id"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/booking-calendars/{id}/schedule": {
      "post": {
        "summary": "Book a time slot",
        "description": "Book a time from the available time slots",
        "operationId": "book-a-time-slot-for-a-booking-calendar",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the booking calendar",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "start_time": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date and time of the time slot",
                    "x-readme-id": "0.0"
                  },
                  "guest_time_zone": {
                    "type": "string",
                    "description": "The guest's timezone in [IANA timezone format](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones)",
                    "x-readme-id": "0.1"
                  },
                  "booking_form": {
                    "type": "object",
                    "description": "An object containing information about the guest",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of the guest",
                        "x-readme-id": "1.0"
                      },
                      "email": {
                        "type": "string",
                        "description": "Email of the guest",
                        "x-readme-id": "1.1"
                      }
                    },
                    "required": [
                      "name",
                      "email"
                    ],
                    "x-readme-id": "0.2"
                  },
                  "location": {
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Use `physical` for in-person meetings, `virtual` for online meetings, or `guest_phone` for phone calls.",
                        "x-readme-id": "1.0"
                      },
                      "value": {
                        "type": "string",
                        "description": "For virtual meetings, specify one of the following: `google_meet`, `microsoft_teams`, `gotomeeting`, `webex`, or `zoom`. For phone calls, use the guest's phone number in E164 format. For in-person meetings, use the location's address ID (e.g., `ADD-1234`).",
                        "x-readme-id": "1.1"
                      }
                    },
                    "required": [],
                    "type": "object",
                    "description": "The meeting location object. This field is optional; if omitted, a virtual location will be selected.",
                    "x-readme-id": "0.3"
                  }
                },
                "required": [
                  "start_time",
                  "guest_time_zone",
                  "booking_form"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"id\": \"BKNG-J4FR05BKEWEX\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "BKNG-J4FR05BKEWEX"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"invalid_request_error\",\n  \"message\": \"Required fields are missing.\",\n  \"param\": \"booking_form\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "invalid_request_error"
                    },
                    "message": {
                      "type": "string",
                      "example": "The selected start time is not available."
                    },
                    "param": {
                      "type": "string",
                      "example": "start_time"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "402",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"invalid_request_error\",\n  \"message\": \"Meeting cannot be scheduled when the host doesn't have a seat assigned.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "invalid_request_error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Meeting cannot be scheduled when the host doesn't have a seat assigned."
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"invalid_request_error\",\n  \"message\": \"Meeting cannot be scheduled on an unpublished booking calendar.\",\n  \"param\": \"id\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "invalid_request_error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Meeting cannot be scheduled on an unpublished booking calendar."
                    },
                    "param": {
                      "type": "string",
                      "example": "id"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/booking-calendars/{id}/one-time-links": {
      "post": {
        "summary": "Create a one-time link",
        "description": "Creates a one time link for a booking calendar",
        "operationId": "booking-calendars-create-a-one-time-link",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the booking calendar",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"id\": \"QUHVEKLPD93M\",\n  \"url\": \"https://oncehub.com/.QUHVEKLPD93M\",\n  \"creation_time\": \"2024-06-18T14:28:19Z\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "QUHVEKLPD93M"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://oncehub.com/.QUHVEKLPD93M"
                    },
                    "creation_time": {
                      "type": "string",
                      "example": "2024-06-18T14:28:19Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"Bad Request\",\n  \"message\": \"This booking calendar does not allow creation of one time links: 'BKC-1234'\",\n  \"param\": \"id\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "Bad Request"
                    },
                    "message": {
                      "type": "string",
                      "example": "This booking calendar does not allow creation of one time links: 'BKC-1234'"
                    },
                    "param": {
                      "type": "string",
                      "example": "id"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"invalid_request_error\",\n  \"message\": \"No such booking calendar: '123'\",\n  \"param\": \"id\"\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "invalid_request_error"
                    },
                    "message": {
                      "type": "string",
                      "example": "No such booking calendar: '123'"
                    },
                    "param": {
                      "type": "string",
                      "example": "id"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/booking-pages": {
      "get": {
        "summary": "List all booking pages",
        "description": "Returns a list of all booking pages in your account",
        "operationId": "list-all-booking-pages",
        "parameters": [
          {
            "name": "master_page",
            "in": "query",
            "description": "Filter booking pages that are associated with this master page ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "Filter booking pages that are associated with this event type ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "Filter booking pages owned by this user ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 30 objects, starting with `OBJ-XXXX`, your subsequent call can include `before=OBJ-XXXX` in order to fetch the previous page of the list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 30 objects, ending with `OBJ-XXXX`, your subsequent call can include `after=OBJ-XXXX` in order to fetch the next page of the list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Determines the number of objects that will be returned on each page. Defaults to 10 if not specified and has a maximum limit of 100 objects per page.",
            "schema": {
              "type": "string",
              "default": "10"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"id\": \"BP-3F7JAWT4UA\",\n      \"object\": \"booking_page\",\n      \"name\": \"Andrea Hartie\",\n      \"label\": \"AndreaHartie\",\n      \"url\": \"https://go.oncehub.com/andreahartie\",\n      \"active\": true,\n      \"timezone\": \"America/Chicago\"\n\t\t},\n    {...},\n    {...}\n  ]\n}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/booking-pages/{id}": {
      "get": {
        "summary": "Get a single booking page",
        "description": "Returns a single booking page by ID",
        "operationId": "get-a-single-booking-page",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the booking page",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"id\": \"BP-3F7JAWT4UA\",\n  \"object\": \"booking_page\",\n  \"name\": \"Andrea Hartie\",\n  \"label\": \"AndreaHartie\",\n  \"url\": \"https://go.oncehub.com/andreahartie\",\n  \"active\": true,\n  \"timezone\": \"America/Chicago\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "BP-3F7JAWT4UA"
                    },
                    "object": {
                      "type": "string",
                      "example": "booking_page"
                    },
                    "name": {
                      "type": "string",
                      "example": "Andrea Hartie"
                    },
                    "label": {
                      "type": "string",
                      "example": "AndreaHartie"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://go.oncehub.com/andreahartie"
                    },
                    "active": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "timezone": {
                      "type": "string",
                      "example": "America/Chicago"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"type\": \"invalid_request_error\",\n  \"message\": \"No such booking page: '123'\",\n  \"param\": \"id\"\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "invalid_request_error"
                    },
                    "message": {
                      "type": "string",
                      "example": "No such booking page: '123'"
                    },
                    "param": {
                      "type": "string",
                      "example": "id"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
[...]
