{
  "openapi": "3.1.0",
  "info": {
    "title": "OnceHub API",
    "version": "2.0.0",
    "description": "The OnceHub API allows you to manage bookings, calendars, users, and other scheduling resources programmatically.\n"
  },
  "servers": [
    {
      "url": "https://api.oncehub.com/v2"
    }
  ],
  "security": [
    {
      "sec0": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Validate API credentials and manage authentication for OnceHub API access. All API requests require an API key to be passed in the `API-Key` header."
    },
    {
      "name": "Bookings",
      "description": "Manage booking appointments and their lifecycle. Bookings represent scheduled meetings \nbetween contacts and users. Use these endpoints to list, retrieve, and perform actions \non bookings such as canceling, requesting reschedules, or marking as no-show.\n"
    },
    {
      "name": "Booking Calendars",
      "description": "Manage booking calendars and their availability. Booking calendars define available \ntime slots for appointments and can be used to schedule meetings. Use these endpoints \nto list calendars, retrieve availability, schedule appointments, and create one-time \nbooking links.\n"
    },
    {
      "name": "Booking Pages",
      "description": "Manage booking pages for your account. Booking pages are public-facing pages where \ncustomers can schedule appointments. Each booking page is associated with specific \nevent types and users, allowing for customized scheduling experiences.\n"
    },
    {
      "name": "Contacts",
      "description": "Manage contact information and relationships. Contacts represent people who have \nscheduled or may schedule appointments through your booking pages. Use these endpoints \nto list contacts, retrieve contact details, and manage contact records.\n"
    },
    {
      "name": "Event Types",
      "description": "Manage event type configurations and settings. Event types define the structure and \nbehavior of different types of appointments, including duration, availability rules, \nand booking forms. Use these endpoints to list and retrieve event type configurations.\n"
    },
    {
      "name": "Master Pages",
      "description": "Manage master page configurations and settings. Master pages serve as templates \nthat define the overall structure and branding for booking pages. Use these endpoints \nto list master pages, retrieve master page details, and create one-time booking links.\n"
    },
    {
      "name": "Teams",
      "description": "Manage teams and team memberships. Teams allow you to organize users into groups \nfor shared calendars, permissions, and resource management. Use these endpoints to \nretrieve team information and manage team-related operations.\n"
    },
    {
      "name": "Users",
      "description": "Manage user accounts and their properties. Users represent team members who can \nschedule appointments, manage calendars, and access the OnceHub platform. Use these \nendpoints to list users, retrieve user details, manage user accounts, and check \nscheduling availability.\n"
    },
    {
      "name": "Webhooks",
      "description": "Manage webhook subscriptions to receive real-time notifications for booking lifecycle events."
    }
  ],
  "paths": {
    "/test": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Validate API key",
        "description": "Enter your API key in the headers section below and click on \"Try it\" to test it.",
        "operationId": "validate-api-key",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"message\": \"The API key is valid for account: admin@example.com\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "The API key is valid for account: admin@example.com"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "authentication_error",
                      "message": "Invalid API key."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "authentication_error",
                      "message": "Your account plan does not support API access. To use the ScheduleOnce API, you must upgrade to the Enterprise plan."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/bookings": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "List all bookings",
        "description": "Returns a list all bookings in the account",
        "operationId": "list-all-bookings",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Only return bookings that have the given status.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner",
            "in": "query",
            "description": "Only return booking owned by a user with a specific user ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contact",
            "in": "query",
            "description": "Only return bookings that were scheduled with the contact with the provided ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "booking_page",
            "in": "query",
            "description": "**BOOKING PAGES ONLY**  \nOnly return bookings that were created from the booking page with the provided ID.\n",
            "schema": {
              "type": "string"
            },
            "x-product": "booking-pages"
          },
          {
            "name": "master_page",
            "in": "query",
            "description": "**BOOKING PAGES ONLY**  \nOnly return bookings that were created from the master page with the provided ID.\n",
            "schema": {
              "type": "string"
            },
            "x-product": "booking-pages"
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "**BOOKING PAGES ONLY**  \nOnly return bookings that were created using the event type with the provided ID.\n",
            "schema": {
              "type": "string"
            },
            "x-product": "booking-pages"
          },
          {
            "name": "creation_time.gt",
            "in": "query",
            "description": "Return bookings with creation time greater than the given date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "creation_time.lt",
            "in": "query",
            "description": "Return bookings with creation time less than the given date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "starting_time.gt",
            "in": "query",
            "description": "Return bookings with starting time greater than the given date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "starting_time.lt",
            "in": "query",
            "description": "Return bookings with starting time less than the given date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "last_updated_time.gt",
            "in": "query",
            "description": "Return bookings with last updated time greater than the given date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "last_updated_time.lt",
            "in": "query",
            "description": "Return bookings with last updated time less than the given date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "A comma separated list of fields that you want to [expand](https://developers.oncehub.com/v2.0.0/reference#expanding-responses). Possible values are `booking_page`, `master_page`, `event_type`, `owner`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "name": "booking_calendar",
            "in": "query",
            "required": false,
            "description": "**BOOKING CALENDARS ONLY**  \nOnly return bookings that were created from the booking calendar with the provided ID.\n",
            "schema": {
              "type": "string",
              "default": ""
            },
            "x-product": "booking-calendars"
          },
          {
            "name": "host",
            "in": "query",
            "required": false,
            "description": "**BOOKING CALENDARS ONLY**  \nOnly return bookings hosted or co-hosted by a user with a specific user ID.\n",
            "schema": {
              "type": "string",
              "default": ""
            },
            "x-product": "booking-calendars"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingList"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "last_updated_time.gt cannot be later than last_updated_time.lt",
                      "param": "last_updated_time.gt"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/bookings/{id}": {
      "get": {
        "tags": [
          "Bookings"
        ],
        "summary": "Get a single booking",
        "description": "Returns a single booking by ID",
        "operationId": "get-a-single-booking",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the booking",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "No such booking: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/bookings/{id}/cancel": {
      "post": {
        "tags": [
          "Bookings"
        ],
        "summary": "Cancel a booking",
        "description": "Cancel a booking by ID",
        "operationId": "cancel-booking",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the booking",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cancellation_reason": {
                    "type": "string",
                    "description": "Reason for cancelling the meeting (optional)"
                  },
                  "send_cancellation_email": {
                    "type": "boolean",
                    "description": "Whether a cancellation email should be sent",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "No such booking: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Booking cannot be cancelled: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Paid bookings cannot be canceled through this endpoint. Please login to OnceHub and use the Activity Stream to cancel paid bookings."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/bookings/{id}/request-reschedule": {
      "post": {
        "tags": [
          "Bookings"
        ],
        "summary": "Request a reschedule",
        "description": "Request to reschedule a booking by ID",
        "operationId": "request-reschedule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the booking",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reschedule_reason": {
                    "type": "string",
                    "description": "Reason for requesting the customer to reschedule the meeting (optional)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "No such booking: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Booking cannot be cancelled: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Paid bookings can only be requested for reschedule in your OnceHub account. Log in and use the activity stream to submit a reschedule request for this booking."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/bookings/{id}/no-show": {
      "post": {
        "tags": [
          "Bookings"
        ],
        "summary": "Set a booking as no-show",
        "description": "Update the booking status to no-show by ID",
        "operationId": "no-show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the booking",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "No such booking: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Cannot update booking status to no_show: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/booking-calendars": {
      "get": {
        "tags": [
          "Booking Calendars"
        ],
        "summary": "List all booking calendars",
        "description": "Returns a list of all booking calendars in your account",
        "operationId": "list-all-booking-calendars",
        "parameters": [
          {
            "name": "host",
            "in": "query",
            "description": "Filter booking calendars hosted by this user ID or team ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingCalendarList"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/booking-calendars/{id}": {
      "get": {
        "tags": [
          "Booking Calendars"
        ],
        "summary": "Get a single booking calendar",
        "description": "Returns a single booking calendar by ID",
        "operationId": "get-a-single-booking-calendar",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the booking calendar",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingCalendar"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "No such booking calendar: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/booking-calendars/{id}/time-slots": {
      "get": {
        "tags": [
          "Booking Calendars"
        ],
        "summary": "Get available time slots for a booking calendar",
        "description": "Returns a list of available time slots for a booking calendar\n\n> [!note]\n> Notes On Using This Endpoint\n> * All datetime strings are [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) in full form. For example, `2024-11-29T09:30:00.000Z`.\n> * All datetime strings are in UTC.\n> * The difference between `start_time` and `end_time` must be less than or equal to 30 days.\n",
        "operationId": "get-available-time-slots-for-booking-calendar",
        "parameters": [
          {
            "name": "start_time",
            "in": "query",
            "required": false,
            "description": "The date and time from which to begin checking for available slots. If not provided, the system defaults to current time.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": ""
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": false,
            "description": "The date and time up to which to check for available slots. If not provided, the system defaults to one week from `start_time`.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": ""
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the booking calendar",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n  {\n    \"start_time\": \"2024-12-02T06:30:00.000Z\",\n    \"locations\": [\n      {\n        \"type\": \"virtual\",\n        \"value\": \"google_meet\",\n        \"id\": null\n      },\n      {\n        \"type\": \"guest_phone\",\n        \"value\": \"+12025550195\",\n        \"id\": null\n      }\n    ]\n  },\n  {\n    \"start_time\": \"2024-12-05T14:30:00.000Z\",\n    \"locations\": [\n      {\n        \"type\": \"physical\",\n        \"value\": null,\n        \"id\": \"ADD-17SE9FWWOC\"\n      }\n    ]\n  },\n  // ...\n]\n"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "End time must be after the start time.",
                      "param": "end_time"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "402",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Time slots cannot be retrieved when the host doesn't have a seat assigned."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Time slots cannot be retrieved from an unpublished booking calendar.",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/booking-calendars/{id}/schedule": {
      "post": {
        "tags": [
          "Booking Calendars"
        ],
        "summary": "Book a time slot",
        "description": "Book a time from the available time slots\n\n> [!note]\n> Notes On Using This Endpoint\n> * This endpoint is designed to be used with the \"Get available time slots\" endpoint. First, retrieve available time slots for a specific time range, and then use this endpoint to book one of those slots.\n> * You can only select a location from those offered within the available time slots.\n> * This endpoint doesn't support booking calendars with required custom fields.\n> * All datetime strings are [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) in full form. For example, `2024-11-29T09:30:00.000Z`.\n\n> [!tip]\n> Using Custom Fields  \n> In addition to the standard fields, you can pass your own data by including custom key-value pairs within the `booking_form` object in the request body.\n>\n> * **Field Name (Key)**: The key for each custom field must exactly match the mapped field name of the corresponding question configured in your Booking page's form settings.\n> * **Field Value**: The data type of the value must match the question's type:\n>   * For Text and Picklist (single-select) questions, provide a string.\n>   * For Picklist (multi-select) questions, provide an array of strings.\n>\n> Please note that for picklist fields, any values that do not match a pre-configured option will be ignored by the system during booking.\n",
        "operationId": "book-a-time-slot-for-a-booking-calendar",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the booking calendar",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "start_time": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date and time of the time slot",
                    "x-readme-id": "0.0"
                  },
                  "guest_time_zone": {
                    "type": "string",
                    "description": "The guest's timezone in [IANA timezone format](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones)",
                    "x-readme-id": "0.1"
                  },
                  "booking_form": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/BookingForm"
                      },
                      {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "email"
                        ]
                      }
                    ],
                    "x-readme-id": "0.2"
                  },
                  "location": {
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Use `physical` for in-person meetings, `virtual` for online meetings, or `guest_phone` for phone calls.",
                        "x-readme-id": "1.0"
                      },
                      "value": {
                        "type": "string",
                        "description": "For virtual meetings, specify one of the following: `google_meet`, `microsoft_teams`, `gotomeeting`, `webex`, or `zoom`. For phone calls, use the guest's phone number in E164 format. For in-person meetings, use the location's address ID (e.g., `ADD-1234`).",
                        "x-readme-id": "1.1"
                      }
                    },
                    "required": [],
                    "type": "object",
                    "description": "The meeting location object. This field is optional; if omitted, a virtual location will be selected.",
                    "x-readme-id": "0.3"
                  }
                },
                "required": [
                  "start_time",
                  "guest_time_zone",
                  "booking_form"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"id\": \"BKNG-J4FR05BKEWEX\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "BKNG-J4FR05BKEWEX"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Required fields missing": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Required fields are missing.",
                      "param": "booking_form"
                    }
                  },
                  "Time slot unavailable": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "The selected start time is not available.",
                      "param": "start_time"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "402",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Meeting cannot be scheduled when the host doesn't have a seat assigned."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Meeting cannot be scheduled on an unpublished booking calendar.",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/booking-calendars/{id}/one-time-links": {
      "post": {
        "tags": [
          "Booking Calendars"
        ],
        "summary": "Create a one-time link",
        "description": "Creates a one time link for a booking calendar\n\n> [!note]\n> One-time links are only available for published booking calendars.\n\n> [!important]\n> One-time links that haven't been consumed will be automatically deleted after one year.\n",
        "operationId": "booking-calendars-create-a-one-time-link",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the booking calendar",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hide_url_params": {
                    "type": "boolean",
                    "description": "When set to `true`, the API generates a short one-time-use link with no visible query parameters.",
                    "default": false
                  },
                  "booking_form": {
                    "$ref": "#/components/schemas/BookingForm"
                  },
                  "utm_params": {
                    "$ref": "#/components/schemas/UtmParams"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"id\": \"QUHVEKLPD93M\",\n  \"url\": \"https://oncehub.com/.QUHVEKLPD93M\",\n  \"creation_time\": \"2024-06-18T14:28:19Z\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "QUHVEKLPD93M"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://oncehub.com/.QUHVEKLPD93M"
                    },
                    "creation_time": {
                      "type": "string",
                      "example": "2024-06-18T14:28:19Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "This booking calendar does not allow creation of one time links: 'BKC-1234'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "No such booking calendar: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/booking-pages": {
      "get": {
        "tags": [
          "Booking Pages"
        ],
        "summary": "List all booking pages",
        "description": "Returns a list of all booking pages in your account",
        "operationId": "list-all-booking-pages",
        "parameters": [
          {
            "name": "master_page",
            "in": "query",
            "description": "Filter booking pages that are associated with this master page ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "Filter booking pages that are associated with this event type ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "Filter booking pages owned by this user ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingPageList"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/booking-pages/{id}": {
      "get": {
        "tags": [
          "Booking Pages"
        ],
        "summary": "Get a single booking page",
        "description": "Returns a single booking page by ID",
        "operationId": "get-a-single-booking-page",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the booking page",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingPage"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "No such booking page: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/event-types": {
      "get": {
        "tags": [
          "Event Types"
        ],
        "summary": "List all event types",
        "description": "Returns a list of all event types in your account",
        "operationId": "list-all-event-types",
        "parameters": [
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventTypeList"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/event-types/{id}": {
      "get": {
        "tags": [
          "Event Types"
        ],
        "summary": "Get a single event type",
        "description": "Returns a single event type by ID",
        "operationId": "get-a-single-event-type",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the event type",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventType"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "No such event type: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/master-pages": {
      "get": {
        "tags": [
          "Master Pages"
        ],
        "summary": "List all master pages",
        "description": "Returns a list of all master pages in your account",
        "operationId": "list-all-master-pages",
        "parameters": [
          {
            "name": "before",
            "in": "query",
            "description": "A cursor for use in pagination. `before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 30 objects, starting with `OBJ-XXXX`, your subsequent call can include `before=OBJ-XXXX` in order to fetch the previous page of the list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "A cursor for use in pagination. `after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 30 objects, ending with `OBJ-XXXX`, your subsequent call can include `after=OBJ-XXXX` in order to fetch the next page of the list.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Determines the number of objects that will be returned on each page. Defaults to 10 if not specified and has a maximum limit of 100 objects per page.",
            "schema": {
              "type": "string",
              "default": "10"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"object\": \"list\",\n  \"data\": [\n{\n  \"id\": \"MP-73E6RHFU77\",\n  \"object\": \"master_page\",\n  \"name\": \"Star Software LLC\",\n  \"label\": \"Dana\",\n  \"url\": \"https://go.oncehub.com/dana\",\n  \"active\": true\n},\n    {...},\n    {...}\n  ]\n}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/master-pages/{id}": {
      "get": {
        "tags": [
          "Master Pages"
        ],
        "summary": "Get a single master page",
        "description": "Returns a single master page by ID",
        "operationId": "get-a-single-master-page",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the master page",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"id\": \"MP-73E6RHFU77\",\n  \"object\": \"master_page\",\n  \"name\": \"Star Software LLC\",\n  \"label\": \"Dana\",\n  \"url\": \"https://go.oncehub.com/dana\",\n  \"active\": true\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "MP-73E6RHFU77"
                    },
                    "object": {
                      "type": "string",
                      "example": "master_page"
                    },
                    "name": {
                      "type": "string",
                      "example": "Star Software LLC"
                    },
                    "label": {
                      "type": "string",
                      "example": "Dana"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://go.oncehub.com/dana"
                    },
                    "active": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "No such master page: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/master-pages/{id}/one-time-links": {
      "post": {
        "tags": [
          "Master Pages"
        ],
        "summary": "Create a one-time booking link",
        "description": "Creates a one time link for a master page\n\n> [!important]\n> One-time links that haven't been consumed will be automatically deleted after one year.\n",
        "operationId": "create-one-time-link",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the master page",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"id\": \"S617NW9C\",\n  \"url\": \"https://go.oncehub.com/.S617NW9C\",\n  \"creation_time\": \"2023-12-08T10:21:01Z\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "S617NW9C"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://go.oncehub.com/.S617NW9C"
                    },
                    "creation_time": {
                      "type": "string",
                      "example": "2023-12-08T10:21:01Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "This master page is deleted: 'BP-EHM6JU50Q3'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "No such master page: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List all users",
        "description": "Returns a list of all users in your account",
        "operationId": "list-all-users",
        "parameters": [
          {
            "$ref": "#/components/parameters/Email"
          },
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserList"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Add a new user",
        "description": "Add or invite a new user to your OnceHub account\n\n> [!note]\n> Notes On Using This Endpoint\n> * The user will be added with Member role by default\n> * An invitation email will be sent to the user\n> * User limits apply based on your account plan (500 for purchased accounts, 30 for trial accounts)\n",
        "operationId": "add-a-new-user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address of the new user",
                    "example": "carrie.customer@gmail.com"
                  },
                  "first_name": {
                    "type": "string",
                    "description": "First name of the new user",
                    "example": "Carrie"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Last name of the new user",
                    "example": "Customer"
                  }
                },
                "required": [
                  "email",
                  "first_name",
                  "last_name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"id\": \"USR-FSD423423\",\n  \"object\": \"user\",\n  \"first_name\": \"Carrie\",\n  \"last_name\": \"Customer\",\n  \"email\": \"carrie.customer@gmail.com\",\n  \"status\": \"active\",\n  \"role_name\": \"Member\",\n  \"timezone\": \"America/Chicago\"\n}"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Required fields missing": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Required fields are missing.",
                      "param": "email"
                    }
                  },
                  "Invalid first name": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Invalid first_name: 'fir[/*st_na*/]?me'",
                      "param": "first_name"
                    }
                  },
                  "Invalid last name": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Invalid last_name: 'la[/*st_na*/]?me'",
                      "param": "last_name"
                    }
                  },
                  "Unsupported fields": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Unsupported fields",
                      "param": "{param_name}"
                    }
                  },
                  "Email already exists": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Email already exists: 'carrie.customer@gmail.com'",
                      "param": "email"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "User limit exceeded": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "You have reached the user limit for your current plan. To add more users, please upgrade your account."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Internal server error": {
                    "value": {
                      "type": "internal_server_error"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/users/{id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get a single user",
        "description": "Returns a single user by ID",
        "operationId": "get-a-single-user",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the user",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "No such user: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Delete a user",
        "description": "Deletes a single user by ID.",
        "operationId": "delete-a-user",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the user",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedObject"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "No such user: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/users/{id}/scheduling-availability": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get scheduling availability",
        "description": "Returns the scheduling availability for a user",
        "operationId": "get_user_scheduling_availability",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "Result",
                    "value": {
                      "object": "schedule",
                      "timezone": "America/Chicago",
                      "weekly": [
                        {
                          "day": "Monday",
                          "working_hours": [
                            {
                              "start_time": "09:00",
                              "end_time": "12:00",
                              "locations": [
                                {
                                  "type": "online_dynamic_link",
                                  "value": "google_meet",
                                  "id": null
                                }
                              ]
                            },
                            {
                              "start_time": "13:00",
                              "end_time": "17:00",
                              "locations": [
                                {
                                  "type": "online_dynamic_link",
                                  "value": "zoom",
                                  "id": null
                                },
                                {
                                  "type": "in_person_by_host",
                                  "value": "123 Office Street, New York, NY",
                                  "id": "ADD-K8E9X"
                                }
                              ]
                            }
                          ]
                        },
                        {
                          "day": "Wednesday",
                          "working_hours": [
                            {
                              "start_time": "10:00",
                              "end_time": "15:00",
                              "locations": [
                                {
                                  "type": "online_static_link",
                                  "value": "https://meet.example.com/team-meeting",
                                  "id": null
                                }
                              ]
                            }
                          ]
                        }
                      ],
                      "overrides": [
                        {
                          "date": "2025-11-27",
                          "day": "Thursday",
                          "working_hours": []
                        },
                        {
                          "date": "2025-12-24",
                          "day": "Wednesday",
                          "working_hours": [
                            {
                              "start_time": "09:00",
                              "end_time": "12:00",
                              "locations": [
                                {
                                  "type": "online_dynamic_link",
                                  "value": "google_meet",
                                  "id": null
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "examples": {
                  "New Example 1": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Received unknown parameter: start_date",
                      "param": "start_date"
                    }
                  },
                  "Result 1": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Invalid date format for overrides_start_time. Expected format: YYYY-MM-DD",
                      "param": "overrides_start_time"
                    },
                    "summary": "Result 1"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the user"
          }
        ]
      },
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": "Update scheduling availability",
        "description": "Updates the scheduling availability for a user",
        "operationId": "patch_users{id}scheduling-availability",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "examples": {
                  "Example": {
                    "summary": "Example",
                    "value": {
                      "object": "schedule",
                      "timezone": "America/Chicago",
                      "weekly": [
                        {
                          "day": "Monday",
                          "working_hours": [
                            {
                              "start_time": "10:00",
                              "end_time": "16:00",
                              "locations": [
                                {
                                  "type": "online_dynamic_link",
                                  "value": "zoom",
                                  "id": null
                                }
                              ]
                            }
                          ]
                        },
                        {
                          "day": "Wednesday",
                          "working_hours": [
                            {
                              "start_time": "10:00",
                              "end_time": "15:00",
                              "locations": [
                                {
                                  "type": "online_static_link",
                                  "value": "https://meet.example.com/team-meeting",
                                  "id": null
                                }
                              ]
                            }
                          ]
                        },
                        {
                          "day": "Saturday",
                          "working_hours": []
                        }
                      ],
                      "overrides": [
                        {
                          "date": "2025-12-25",
                          "day": "Thursday",
                          "working_hours": [
                            {
                              "start_time": "10:00",
                              "end_time": "12:00",
                              "locations": [
                                {
                                  "type": "online_dynamic_link",
                                  "value": "google_meet",
                                  "id": null
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "examples": {
                  "Response": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "availability range is overlapping: '09:00-11:00'",
                      "param": "weekly.working_hours"
                    },
                    "summary": "Response"
                  },
                  "Response 1": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "start time should be multiple of 15: '09:05'",
                      "param": "weekly.working_hours.start_time"
                    },
                    "summary": "Response 1"
                  },
                  "Response 2": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Date cannot be in the past: '2024-01-01'",
                      "param": "overrides.date"
                    },
                    "summary": "Response 2"
                  },
                  "New Example": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "Duplicate entry for day or date: 'Monday'",
                      "param": "weekly"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "examples": {
                  "New Example": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "You can set either online_dynamic_link or online_static_link",
                      "param": "weekly.working_hours.locations"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "weekly": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "day": {
                          "type": "string",
                          "description": "The day of the week (e.g., \"Monday\", \"Tuesday\"). Must be a valid, case-sensitive day name. Duplicate days are not allowed."
                        },
                        "working_hours": {
                          "type": "array",
                          "description": "An array of time slot objects for the day. To clear all availability for a day, provide an empty array (`[]`). This field cannot be `null`. Time slots for a single day cannot overlap.",
                          "items": {
                            "properties": {
                              "start_time": {
                                "type": "string",
                                "description": "The start time of an availability slot in `HH:MM` format. The time must be a multiple of 15 minutes."
                              },
                              "end_time": {
                                "type": "string",
                                "description": "The end time of an availability slot in `HH:MM` format. Must be a multiple of 15 minutes and occur after the start_time."
                              },
                              "locations": {
                                "type": "array",
                                "items": {
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "The type of location. Valid options are: `in_person_by_host`, `online_dynamic_link`, `online_static_link`, `phone_by_guest`. Duplicate types are not allowed within the same slot."
                                    },
                                    "id": {
                                      "type": "string",
                                      "description": "The unique identifier for a physical address. This field is required and only used when the type is `in_person_by_host`."
                                    },
                                    "value": {
                                      "type": "string",
                                      "description": "The static URL for an online meeting. This field is required and only used when the type is `online_static_link`."
                                    }
                                  },
                                  "type": "object",
                                  "required": [
                                    "type"
                                  ]
                                },
                                "description": "An array of location objects available for the time slot. Can be empty. You cannot mix `online_dynamic_link` and `online_static_link` types in the same slot."
                              }
                            },
                            "type": "object",
                            "required": [
                              "start_time",
                              "end_time",
                              "locations"
                            ]
                          }
                        }
                      },
                      "type": "object",
                      "required": [
                        "day",
                        "working_hours"
                      ]
                    },
                    "description": "An array of objects, each defining the full availability for a specific day of the week. Any day provided will have its schedule completely overwritten."
                  },
                  "overrides": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "date": {
                          "type": "string",
                          "description": "The specific date for the override in `YYYY-MM-DD` format. The date cannot be in the past. Duplicate dates are not allowed."
                        },
                        "working_hours": {
                          "type": "array",
                          "items": {
                            "properties": {
                              "start_time": {
                                "type": "string",
                                "description": "The start time of an availability slot for the override date in `HH:MM` format. The time must be a multiple of 15 minutes."
                              },
                              "end_time": {
                                "type": "string",
                                "description": "The end time of an availability slot for the override date in `HH:MM` format. Must be a multiple of 15 minutes and occur after the `start_time`."
                              },
                              "locations": {
                                "type": "array",
                                "description": "An array of location objects available for the time slot on the override date. Can be empty.",
                                "items": {
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "The type of location for the override slot. Valid options are: `in_person_by_host`, `online_dynamic_link`, `online_static_link`, `phone_by_guest`."
                                    },
                                    "id": {
                                      "type": "string",
                                      "description": "The unique identifier for a physical address. This field is required and only used when the type is `in_person_by_host`."
                                    },
                                    "value": {
                                      "type": "string",
                                      "description": "The static URL for an online meeting. This field is required and only used when the type is `online_static_link`."
                                    }
                                  },
                                  "type": "object",
                                  "required": [
                                    "type"
                                  ]
                                }
                              }
                            },
                            "type": "object",
                            "required": [
                              "start_time",
                              "locations",
                              "end_time"
                            ]
                          },
                          "description": "An array of time slot objects for the specific date. To make a user unavailable for the entire date, provide an empty array (`[]`). To **delete** an existing override for a date, set this value to `null`."
                        }
                      },
                      "type": "object",
                      "required": [
                        "working_hours"
                      ]
                    },
                    "description": "An array of objects, each defining an exception for a specific date. Any date provided will have its override schedule completely overwritten."
                  }
                },
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/teams": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "List all teams",
        "description": "Returns a list of all teams in your account",
        "operationId": "list-all-teams",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "description": "Return all teams that the provided user is a member of.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamList"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/teams/{id}": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "Get a single team",
        "description": "Returns a single team by ID",
        "operationId": "get-a-single-team",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the team.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "No such team: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List all contacts",
        "description": "List all contacts in your account",
        "operationId": "list-all-contacts",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "Filter by the contact's email address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creation_time.lt",
            "in": "query",
            "description": "Return contacts with creation time less than the given date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "last_updated_time.gt",
            "in": "query",
            "description": "Return contacts with last updated time greater than the given date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "last_updated_time.lt",
            "in": "query",
            "description": "Return contacts with last updated time less than the given date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "creation_time.gt",
            "in": "query",
            "description": "Return contacts with creation time greater than the given date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactList"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "last_updated_time.gt cannot be later than last_updated_time.lt",
                      "param": "last_updated_time.gt"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/contacts/{id}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get a single contact",
        "description": "Get a single contact",
        "operationId": "get-a-single-contact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the contact",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "No such contact: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete a contact",
        "description": "Delete a contact",
        "operationId": "delete-a-contact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the contact",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedObject"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "No such contact: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/webhooks": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create a webhook",
        "description": "Creates a webhook subscription.",
        "operationId": "create-a-webhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "URL for receiving POST messages from OnceHub"
                  },
                  "name": {
                    "type": "string",
                    "description": "Unique name for your Webhook subscription. This name is only used by you for reference."
                  },
                  "events": {
                    "type": "array",
                    "description": "An array of Booking lifecycle events that will trigger the Webhook.",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "A webhook subscription with this name already exists: 'New Bookings'",
                      "param": "name"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List all webhooks",
        "description": "Returns a list of your webhook subscriptions, sorted by creation date.",
        "operationId": "list-all-webhooks",
        "parameters": [
          {
            "$ref": "#/components/parameters/Before"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookList"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/webhooks/{id}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get a single webhook",
        "description": "Returns a single webhook subscription by ID.",
        "operationId": "get-a-single-webhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the webhook",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "No such webhook: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete a webhook",
        "description": "Deletes a single webhook subscription by ID.",
        "operationId": "delete-a-webhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the webhook",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedObject"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "type": "invalid_request_error",
                      "message": "No such webhook: '123'",
                      "param": "id"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "webhooks": {
    "booking.scheduled": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Booking Scheduled Event",
        "description": "Triggered when:\n- Customer schedules a booking\n- User approves a booking requested by a Customer\n",
        "operationId": "webhook-booking-scheduled",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Unique alphanumeric identifier for the event object",
                    "example": "EVNT-KN56U3YL7C"
                  },
                  "object": {
                    "type": "string",
                    "description": "String representing the object's type",
                    "example": "event"
                  },
                  "creation_time": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The time the event object was created",
                    "example": "2020-03-22T09:49:12Z"
                  },
                  "type": {
                    "type": "string",
                    "description": "The type of the event",
                    "example": "booking.scheduled"
                  },
                  "api_version": {
                    "type": "string",
                    "description": "The OnceHub API version used to render the data object",
                    "example": "v2"
                  },
                  "data": {
                    "type": "object",
                    "description": "The booking object containing relevant data associated with the event",
                    "properties": {
                      "object": {
                        "type": "string",
                        "example": "booking"
                      },
                      "id": {
                        "type": "string",
                        "example": "BKNG-J4FR05BKEWEX"
                      },
                      "status": {
                        "type": "string",
                        "example": "scheduled"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received successfully"
          }
        }
      }
    },
    "booking.rescheduled": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Booking Rescheduled Event",
        "description": "Triggered when:\n- Customer reschedules a booking on the same booking page\n- Customer reschedules a booking following a request from the User to reschedule\n",
        "operationId": "webhook-booking-rescheduled",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Unique alphanumeric identifier for the event object",
                    "example": "EVNT-KN56U3YL7C"
                  },
                  "object": {
                    "type": "string",
                    "description": "String representing the object's type",
                    "example": "event"
                  },
                  "creation_time": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The time the event object was created",
                    "example": "2020-03-22T09:49:12Z"
                  },
                  "type": {
                    "type": "string",
                    "description": "The type of the event",
                    "example": "booking.rescheduled"
                  },
                  "api_version": {
                    "type": "string",
                    "description": "The OnceHub API version used to render the data object",
                    "example": "v2"
                  },
                  "data": {
                    "type": "object",
                    "description": "The booking object containing relevant data associated with the event",
                    "properties": {
                      "object": {
                        "type": "string",
                        "example": "booking"
                      },
                      "id": {
                        "type": "string",
                        "example": "BKNG-J4FR05BKEWEX"
                      },
                      "status": {
                        "type": "string",
                        "example": "scheduled"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook received successfully"
          }
        }
      }
    },
    "booking.canceled_then_rescheduled": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Booking Canceled Then Rescheduled Event",
        "description": "Triggered when Customer cancels a booking and then reschedules on a different booking page.",
        "operationId": "webhook-booking-canceled-then-rescheduled",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Unique alphanumeric identifier for the event object",
                    "example": "EVNT-KN56U3YL7C"
                  },
                  "object": {
                    "type": "string",
                    "description": "String representing the object's type",
                    "example": "event"
                  },
                  "creation_time": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The time the event object was created",
                    "example": "2020-03-22T09:49:12Z"
                  },
                  "type": {
                    "type": "string",
                    "description": "The type of the event",
                    "example": "booking.canceled_then_rescheduled"
                  },
                  "api_version": {
                    "type": "string",
[...]
